$wood_trush : #dcd8d4;
$copper_brown : #867e5d;
$cloud_dancer : #140702;

.text-wood-trush {
    color: $wood_trush;
}
.text-copper-brown {
    color: $copper_brown;
}
.text-cloud-dancer {
    color: $cloud_dancer;
}